{% extends "home/layout.html" %} {% block body %}
<p class="container mt-5">
  Merhaba! İsmim Umur Savut ve Kuleli Askeri Lisesi'nden mezun oldum. Eğitim
  hayatımda başarıyla tamamladığım İngilizce ve Matematik bölümlerindeki
  mezuniyetimle akademik bir temel oluşturdum. Öğretmenlik kariyerime başlamadan
  önce 6 yıl boyunca aktif olarak öğretmenlik yaparak bilgi ve deneyim
  birikimimi arttırdım. <br />
  Öğretmenlik deneyimim sırasında, öğrencilerime bilgi aktarımını sadece sınıf
  ortamında değil, onları ilgilendiren ve etkileşimli hale getiren yöntemlerle
  gerçekleştirmeyi amaçladım. Öğrencilerimin gelişimini desteklemek için
  yenilikçi öğretim metotlarına ve teknolojik araçlara büyük önem verdim. Ancak,
  zamanla yazılıma olan ilgim giderek arttı ve web teknolojileriyle tanıştıkça
  bu alanda kendimi geliştirmeye başladım. İki yıldan beri yazılım geliştirme
  konusunda aktif olarak çalışıyor ve web teknolojilerine odaklanıyorum. Bu süre
  zarfında, çeşitli projelerde yer aldım ve farklı yazılım dilleriyle çalışarak
  geniş bir beceri yelpazesi kazandım.
  <br />
  <br />
  Yazılım geliştirme yolculuğumda, web uygulamaları ve siteleri tasarlama ve
  oluşturma konularında uzmanlaştım. HTML, CSS ve JavaScript gibi temel web
  teknolojilerini etkin bir şekilde kullanmayı öğrendim. Ayrıca, güncel web
  trendlerini takip ederek kullanıcı dostu ve yenilikçi çözümler sunmaya özen
  gösterdim. Yazılım geliştirme sürecinde, kullanıcı deneyimini optimize etmek
  ve hızlı, güvenilir ve ölçeklenebilir çözümler sunmak için çeşitli web
  çerçevelerini ve kütüphanelerini kullanıyorum.
  <br />
  <br />
  Back-end tarafında da deneyim sahibiyim ve JavaScript-Node.js ve Python gibi
  dillerle çalışarak veritabanı yönetimi ve sunucu tarafı geliştirmeleri
  yapabiliyorum. Öğretmenlik deneyimimden edindiğim analitik ve iletişim
  becerilerimi, yazılım geliştirme sürecinde de etkin bir şekilde kullanıyorum.
  Problem çözme yeteneğim ve ekip çalışmasına yatkınlığım, projelerdeki başarıyı
  arttırmama yardımcı oluyor. Yazılım geliştirme alanındaki tutkumu, öğrenmeye
  ve kendimi geliştirmeye olan isteğimi kullanarak her yeni projede daha da
  ilerlemeyi hedefliyorum. Yaratıcı ve özgün çözümler üretmeyi seviyor ve
  teknolojinin gücünü kullanarak kullanıcılarına değer katmayı amaçlıyorum.
  <br /><br />
  Bu süreçte edindiğim bilgi ve deneyimleri, yazılım projeleriyle ilgilenen
  kişilerle paylaşmayı ve onlara rehberlik etmeyi seviyorum. Sizlere de yazılım
  geliştirme konusunda yardımcı olabileceğimden eminim. Umarım sizlere, hem
  öğretmenlik hem de yazılım geliştirme alanındaki deneyimlerimle ilgili biraz
  daha kapsamlı bir bilgi sunabilmişimdir. Herhangi bir sorunuz varsa, sormaktan
  çekinmeyin. Size yardımcı olmaktan mutluluk duyarım.
</p>
{% endblock body %}
